.main-footer { 
    position: fixed; 
    bottom: 0px; 
    width: 100%;
}

.content {
    background-color:#1C1C1C;    
    background-image: url('../../assets/paw.png');
    background-size: 70px;
    height: 90vh;
}

.main-header {
    background-color: #172023
}

.tasks {
    margin-top: 10px
}

.footer {
    justify-content: space-between;
}